*{
    padding: 0;
    margin: 0;
}
body {
    /* background: linear-gradient(#e66465, #9198e5); */
    transition: background-color 0.5s ease;
  }
  header{
    display: flex;
    flex-direction: column;
  }
.hero-section{
    display: flex;
    gap: 100px;
    margin: 50px;
    /* background-color: white; */
}
.hero-section p{
    text-align: center;
    margin-top: 300px;
    margin-left: 200px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
footer{
    background-color: plum;
}
.footer-div{
    margin-left: 50px;
    font-size: 20px;
    padding: 40px;
}
.footer-div p{
    font-style: normal;
}
.form-container{
    margin-left: 90px;
}
.form-container form{
    max-width: 350px;
    height: 400px;
    padding: 20px; 
    border-radius: 12px;
    border: 1px solid salmon;
    background-color: white;
}
.form-container form label{
    font-size: 20px;
    padding-bottom: 20px;
}
.form-container form input{
    width: 300px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-container form button{
    width: 160px;
    height: 45px;
    border: none;
    border-radius: 15px;
    margin-left: 30px;
}
.ff{
    margin-top: 50px;
    margin-left: 30px;
}
.gg{
    margin-left: 30px;
}
.hr{
    height: 1px;
    background-color: black;
    margin: 30px;
}
footer p{
    padding: 20px;
    /* margin-left: 30px; */
    text-align: center;
}
footer p a{
    text-decoration: none;
    color: red;
}
footer p a:hover{
    text-decoration: underline;
    color: red;
    transition: color 1 ease;
}